body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Verdana, sans-serif;
}

.row {
    background-color: #efefef;
    border-radius: 10px;
    padding: 70px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.22); /* Sombra de fundo */
}

#imgLogin {
    width: 80%;
}

#irParaCadastro {
    text-align: center;
}